.navContainer {
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.navList {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.navList > li a {
  text-decoration: none;
  color: #6666ff;
}

.navList > li a:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .navContainer {
    padding: 0px;
  }

  .navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px
  }

  .navList li {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: underline;
  }
}
